body {
    background-color: #070D29;
    background: linear-gradient(to right, #070D29, #12E1B9);
    background-position: center;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    position: fixed;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.heading {

    color: #ffffff;
    font-size: 5em;
    text-align: left;
    letter-spacing: 5px;
    margin-bottom: 0;
    padding-top: 50px;
    text-transform: uppercase;
    margin-left: 2.2em;

}

.subheading {

    color: #ffffff;
    font-size: .95em;
    font-weight: lighter;
    text-align: left;
    margin-top: 0;
    padding-bottom: 50px;
    text-transform: uppercase;
    margin-left: 12em;

}

.wrapper {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    margin-left: 10em;

}


.input-box input {

    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-width: 1px;
    border-color: #33cc99;
    border-radius: 5px;
    font-size: 1em;
    background-color: #22324d;
    color: #ffffff;
}

.button-group {

    display: flex;
    width: 100%;

}

.button {

    background: linear-gradient(to right, #8DC63F, #12E1B9);
    border: none;
    padding: 5px 5px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: .85em;
    color: #2D3C42;
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 2px;
    width: 100%;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

#reset-text {
    color: #12E1B9;
    font-weight: 100;
    font-size: .65em;
    text-transform: uppercase;
    margin-top: 50px;

}

.homepage {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    /* Spacing between cards */
    justify-content: center;
    /* Center the cards */
    padding: 50px;
    /* Optional: Add padding around the container */
    overflow-y: auto;
    /* Enable vertical scrolling */
    max-height: 100vh;
    /* Ensure it doesn't exceed the viewport height */
}

.card {
    color: white;
    /* Change text color to white */
    background-color: #000000;
    /* Optional: Dark background for better contrast */
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: #070D29;
    width: 250px;
    /* Adjust the width as needed */
    text-align: center;
    /* Center align text */
    margin: 25px;
    margin-bottom: 5rem;
    /* margin-bottom: 50px; */
    /* Optional: Add margin at the bottom */
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card-title {
    font-size: .8rem;
    font-weight: bolder;
    margin-top: 1rem;
}

.card-rating,
.card-runtime,
.card-release {
    font-size: .65rem;
    margin-top: 0.5rem;
}